.fixed3{padding-left:17px!important}
.fixeMarge{padding-left:0}
.InfoAuthArtBook{padding-left:0;height:auto}
section.EditoFAQ{padding:10px 15px}
div.BarreNavigationFAQ{margin-bottom:30px}
#divSearchSubmit{margin-left:-108px;width:80px}
.DivQuestionEnteteFAQ{height:16px}
.AQuestionFAQ{padding-top:-20px}
.TitreSection0,.TitreSection1,.TitreSection2,.TitreSection3,.TitreSection4,.TitreSection5,.TitreSection6{position:relative}
.HautPage{right:10px;position:relative;top:-15px;margin-right:15px}
.DivHautFAQ{top:-15px;margin-right:15px}
.ArticleComplet,.ArticleCompletDroite{float:left;width:99%;margin-right:0!important}
.ArticleCompletIE{width:80%}
#RubriqueDroite{width:18%;margin-left:2px;zoom:1}
.DivQuestionTitreFAQ{position:relative;top:-15px}
.selectionner_code{position:relative;text-align:right;top:-5px}
.titre_des_codes{ margin-right:0px}
.telecharger_code{width:20px;position:relative;top:-5px;text-align:right}
.dissimuler_code{position:relative;top:-5px;text-align:right}
.LienLireArticle{display:block;width:28%;}